@import '../../../variables.scss';

.pika-ruler {
	//margin-right: 100px;
	//width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	bottom: 22%;
	left: 30%;
	.pikachu {
		opacity: 0.8;
		filter: brightness(0);
		margin-top: -10%;
		margin-bottom: -10%;
	}
}