@import "../../variables.scss";

.type-emblem-container {
	//flex-direction: row;
}

a {
	&:hover {
		transition: $transition;
		cursor: pointer;
		filter: brightness(110%);
	}
}

.type-emblem {
	margin: 20px;
}