<div class="pokemon">
	<div class="background" [ngClass]="{'dual-type': this.pokemon.types.length > 1}">
		<div class="{{this.pokemon.types[0].name}}">
			<div class="background-primary primary">
			</div>
		</div>
		<div *ngIf="this.pokemon.types.length > 1" class="{{this.pokemon.types[1].name}}">
			<div class="background-secondary primary">
			</div>
		</div>
	</div>
	<div class="content">
		<div class="type-emblem">
			<pok-type-emblem [type]="this.pokemon.types" [active]="false"></pok-type-emblem>
		</div>
		<img class="sprite" src="{{this.url}}">
		<div class="stats">
			<div class="stat" *ngFor="let stat of this.pokemon.stats">
				<pok-stat-card [stat]="stat"></pok-stat-card>
			</div>
		</div>
	</div>
</div>