@import '../../variables.scss';
@import '../../color-scheme.scss';

$height: 600px;

.dual-type {
	.background-primary {
		clip-path: polygon(0 0, 0% 100%, 100% 100%);
	}
	.background-secondary {
		clip-path: polygon(0 0, 100% 0, 100% 100%);
	}
}

.pokemon {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.stats {
	width: 600px;
}

.stat {
	float: left;
}

.sprite {
	width: 500px;
	image-rendering: pixelated;
}

.content {
	height: $height;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
	padding-top: 100px;
}

.background {
	position: absolute;
	left: 0px;
	opacity: 0.3;
}

.background-primary {
	position: absolute;
	width: 100vw;
	height: $height;
}

.background-secondary {
	position: absolute;
	width: 100vw;
	height: $height;
}