<div class="pokemon-emblem" [ngClass]="{'active': active}">
	<div class="background">
		<div class="one-type" *ngIf="type.length==1">
			<div class="{{pokemon.types[0].type.name}}">
				<div class="primary mat-elevation-z10">
					<div class="inner-circle">
					</div>
				</div>
			</div>
		</div>
		<div class="two-types" *ngIf="pokemon.types.length==2">
			<div class="{{pokemon.types[0].type.name}} half">
				<div class="primary-color">
					<div class="secondary-color">
					</div>
				</div>
			</div>
			<div class="{{pokemon.types[1].name}} half">
				<div class="primary-color">
					<div class="secondary-color">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="miniature">
		<div class="sprite">
			<img src="{{url}}">
		</div>
		<div class="name">
			{{pokemon.name | uppercase}}
		</div>
	</div>
</div>