@import "../../../variables";
@import "../../../color-scheme";

.outer-circle {

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 170px;
	border-radius: 50%;
}

.type-emblem {
	width: 170px;
	height: 170px;
	&:hover {
		.outer-circle {
			transition: all 40ms ease-in-out;
			filter: brightness(120%);
		}
		.inner-circle {
			transition: all 40ms ease-in-out;
			filter: brightness(70%);
		}

	}
}

.inner-circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 75px 0px #000000;
}

.icon {
	height: 90px;
	width: 90px;
	opacity: 0.8;
	filter: invert(1);
}

.type-label {
	font-weight: bolder;
	font-size: 15px;
	opacity: 0.8;
	color: white;
	margin-top: 5px;
}

.one-type {
	position: relative;
}

.icon-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.two-types {
	.icon {
		width: 35px;
		height: 35px;
		font-weight: normal;
	}
	.type-label {
		font-size: 11px;
	}
	.half {
		&:first-child {
			position: absolute;
			clip-path: polygon(-75px -75px, 0% calc(100% + 75px), calc(100% + 75px) calc(100% + 75px));
			.icon-text {
				right: 50%;
				top: 50%;
			}
		}
		&:last-child {
			position: relative;
			clip-path: polygon(-75px -75px, calc(100% + 75px) 0px, calc(100% + 75px) calc(100% + 75px));
			.icon-text {
				left: 50%;
				bottom: 50%;
			}
		}
	}
}