<div class="normal">
	<div class="outer-circle mat-elevation-z10">
		<div class="inner-circle">
			<!--<object class="icon" type="image/svg+xml" data="{{'../../../assets/icons/type-icons/' + typeIconService.getIconByType(type)}}">-->
				<!--Your browser does not support SVG-->
			<!--</object>-->
			<span class="type-label">
				NORMAL
		</span>
		</div>
	</div>
</div>
<div class="water">
	<div class="outer-circle mat-elevation-z10">
		<div class="inner-circle">
			<object class="icon" type="image/svg+xml" data="../../../assets/icons/type-icons/bear-head-frontal-outline.svg">
				Your browser does not support SVG
			</object>
			<span class="type-label">
				NORMAL
		</span>
		</div>
	</div>
</div>