.normal {
	.outer-circle {
		background-color: #b4b489;
	}
	.inner-circle {
		background-color: #b4b489;
	}
}

.fighting {
	.outer-circle {
		background-color: #ed403c;
	}
	.inner-circle {
		background-color: #9f9f9f;
	}
}

.flying {
	.outer-circle {
		background-color: #86c6ce;
	}
	.inner-circle {
		background-color: #86c6ce;
	}
}

.poison {
	.outer-circle {
		background-color: #00ce3e;
	}
	.inner-circle {
		background-color: #54ce76;
	}
}

.ground {
	.outer-circle {
		background-color: #9d6f39;
	}
	.inner-circle {
		background-color: #cec868;
	}
}

.rock {
	.outer-circle {
		background-color: #777777;
	}
	.inner-circle {
		background-color: #bcbcbc;
	}
}

.bug {
	.outer-circle {
		background-color: #a80000;
	}
	.inner-circle {
		background-color: #efef00;
	}
}

.ghost {
	.outer-circle {
		background-color: #343434;
	}
	.inner-circle {
		background-color: #f4f4f4;
	}
}

.steel {
	.outer-circle {
		background-color: #bdbdbd;
	}
	.inner-circle {
		background-color: #bdbdbd;
	}
}

.fire {
	.outer-circle {
		background-color: #8e3529;
	}
	.inner-circle {
		background-color: #de5239;
	}
}

.water {
	.outer-circle {
		background: #0c4bce;
	}
	.inner-circle {
		background: #0c4bce;

	}
}

.grass {
	.outer-circle {
		background: #974c00;
	}
	.inner-circle {
		background: #00a000;

	}
}

.electric {
	.outer-circle {
		background: #efad00;
	}
	.inner-circle {
		background: #ffff00;

	}
}

.psychic {
	.outer-circle {
		background-color: #dc0000;
	}
	.inner-circle {
		background-color: #f4f4f4;
	}
}

.ice {
	.outer-circle {
		background-color: #0081e9;
	}
	.inner-circle {
		background-color: #54c6de;
	}
}

.dragon {
	.outer-circle {
		background-color: #e02500;
	}
	.inner-circle {
		background-color: #e07a1a;
	}
}

.dark {
	.outer-circle {
		background-color: #1b1b1b;
	}
	.inner-circle {
		background-color: #484848;
	}
}

.fairy {
	.outer-circle {
		background-color: #efd000;
	}
	.inner-circle {
		background-color: #45d4e0;
	}
}

.unknown {
	.outer-circle {
		background-color: #dddddd;
	}
	.inner-circle {
		background-color: #c0b2e6;
	}
}

.shadow {
	.outer-circle {
		background-color: #646464;
	}
	.inner-circle {
		background-color: #a0a0a0;
	}
}