.normal {
	.primary-color {
		background-color: #b4b489;
	}
	.secondary-color {
		background-color: #7e7d61;
	}
}

.fighting {
	.primary-color {
		background-color: #ed403c;
	}
	.secondary-color {
		background-color: #8f8f8f;
	}
}

.flying {
	.primary-color {
		background-color: #86c6ce;
	}
	.secondary-color {
		background-color: #7ab2b8;
	}
}

.poison {
	.primary-color {
		background-color: #00ce3e;
	}
	.secondary-color {
		background-color: #50b86d;
	}
}

.ground {
	.primary-color {
		background-color: #9d6f39;
	}
	.secondary-color {
		background-color: #b9b363;
	}
}

.rock {
	.primary-color {
		background-color: #777777;
	}
	.secondary-color {
		background-color: #a9a9a9;
	}
}

.bug {
	.primary-color {
		background-color: #a80000;
	}
	.secondary-color {
		background-color: #d7d52e;
	}
}

.ghost {
	.primary-color {
		background-color: #343434;
	}
	.secondary-color {
		background-color: #dcdcdc;
	}
}

.steel {
	.primary-color {
		background-color: #bdbdbd;
	}
	.secondary-color {
		background-color: #aaaaaa;
	}
}

.fire {
	.primary-color {
		background-color: #8e3529;
	}
	.secondary-color {
		background-color: #c64c39;
	}
}

.water {
	.primary-color {
		background: #0c4bce;
	}
	.secondary-color {
		background: #1249b7;

	}
}

.grass {
	.primary-color {
		background: #974c00;
	}
	.secondary-color {
		background: #138e15;

	}
}

.electric {
	.primary-color {
		background: #efad00;
	}
	.secondary-color {
		background: #e5e431;

	}
}

.psychic {
	.primary-color {
		background-color: #dc0000;
	}
	.secondary-color {
		background-color: #d7d7d7;
	}
}

.ice {
	.primary-color {
		background-color: #0081e9;
	}
	.secondary-color {
		background-color: #51b3c6;
	}
}

.dragon {
	.primary-color {
		background-color: #e02500;
	}
	.secondary-color {
		background-color: #c86f26;
	}
}

.dark {
	.primary-color {
		background-color: #1b1b1b;
	}
	.secondary-color {
		background-color: #414141;
	}
}

.fairy {
	.primary-color {
		background-color: #efd000;
	}
	.secondary-color {
		background-color: #45bec9;
	}
}

.unknown {
	.primary-color {
		background-color: #dddddd;
	}
	.secondary-color {
		background-color: #ada1cd;
	}
}

.shadow {
	.primary-color {
		background-color: #646464;
	}
	.secondary-color {
		background-color: #909090;
	}
}

.water-background {
	background: rgba(136, 157, 206, 0.3);
	//background: red;
}

.ghost-background {
	background: rgba(35, 35, 35, 0.3);
}