<div class="card">
	<div class="background" [ngClass]="{'dual-type': this.pokemon.types.length > 1}">
		<div class="{{this.pokemon.types[0].name}}">
			<div class="background-primary primary-color">
			</div>
		</div>
		<div *ngIf="this.pokemon.types.length > 1" class="{{this.pokemon.types[1].name}}">
			<div class="background-secondary primary-color">
			</div>
		</div>
	</div>
	<div class="content">
		<div class="column">
			<div class="pika-ruler">
				<pok-pika-ruler [pokemon]="this.pokemon"></pok-pika-ruler>
			</div>
		</div>

		<div class="column">
			<div class="overview">
				<div class="info">
					<div>
						Height:
					</div>
					<div class="value">
						{{this.pokemon.height * 10 + "cm"}}
					</div>
					<div class="pikachus">
						{{this.pikachuService.getHeightInPickachus(this.pokemon.height) + " Pikachu"}}
					</div>
				</div>
				<div class="info">
					<div>
						Weight:
					</div>
					<div class="value">
						{{this.pokemon.weight / 10 + "kg"}}
					</div>
					<div class="pikachus">
						{{this.pikachuService.getWeightInPikachus(this.pokemon.weight) + " Pikachu"}}
					</div>
				</div>
				<div class="info">
					<div>
						Damage Type<span *ngIf="checkMultipleDamageTypes()">s</span>:
					</div>
					<div class="value">
						<span>
							{{this.pokemon.types[0].move_damage_class.name}}
						</span>
						<span *ngIf="checkMultipleDamageTypes()">
							, {{this.pokemon.types[1].move_damage_class.name}}
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="name">
				{{this.pokemon.name | uppercase}}
			</div>
			<div class="type-emblem">
				<pok-type-emblem [type]="this.pokemon.types" [active]="false"></pok-type-emblem>
			</div>
		</div>
		<div class="column">
			<img class="sprite" src="{{this.url}}">
		</div>
	</div>
</div>